/* TEMPLATE LAYOUT STYLING 
=============================================================================*/

html {
	height:100%;
}

body {
	color: #6b6b6b;
	line-height:1.7em;
	margin:0 !important;
	height:100%;
}

#wrapper{
	position:relative;
	display:block;
	z-index:40;
	background:transparent;
	height:100%;
}

#feature { 
	display: table; 
	width: 100%; 
}

#feature .moduletable{
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	padding:0;
	margin:0; 
}

#bottomspot {
	background:#181716 !important;
	color:#747474;
	display:block;
	padding:60px 0;
	position:relative;
	z-index:45;
	line-height:2.8em;
}


#bottomspot i {
	font-size: 1.5em !important;
}

.container-fluid {
	padding:0 !important;
}

.container-fluid .col-md-12 {
	padding:0 !important;
}

.container-fluid .row {
	margin-right:0 !important;
	margin-left:0 !important;
}

#topbar {
	height:40px;
	line-height:40px !important;
	width:100%;
}

#topbar .languages {
	text-align:right;	
	padding-right: 35px;
}



/* NAVIGATION 
=============================================================================*/

.nav>li>a { 
	padding:0 8px !important;
	text-transform:uppercase;
	outline:none;
}


.nav-pills>li>a:hover { 
	background:none !important;
	color:#e4545b;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus, .nav-pills li.current a {
	background: none !important;
}

.nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: transparent !important;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus,.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus,.dropdown-menu>.active>a, .dropdown-menu>.active>a:hover, .dropdown-menu>.active>a:focus,.dropdown-menu>li>a:hover,.navbar-nav>li>a{
	background-color: transparent !important;
}

.navbar-default {
	border-color:transparent !important;
}

.navbar { 
	border-radius:0px !important 
}

.nav .open>a, .nav .open>a:hover, .nav .open>a:focus {
	background-color: transparent !important;
	border:none !important;
}

.navbar-default .navbar-toggle {
	border-color: #ddd;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
	background-color: #ddd;
}
.navbar-default .navbar-toggle .icon-bar {
	background-color: #888;
}

.dropdown-menu{
	margin:0px !important;
}

.dropdown-menu >li> a { 
	color:#6b6b6b;
}

.open->dropdown-submenu, ul.nav li.parent { display:block !important; }	

@media (min-width: 998px) {
		
	/* First Level */
	
	ul.nav-child {
		text-transform:none; 
		min-width:180px;
		-webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1); 
		-moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1); 
		box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1); 
		list-style:none;
		border-radius:0 !important;
		-moz-border-radius:0 !important;
		-webkit-border-radius:0 !important;
		padding:0 !important;
	}
	
	.dropdown-menu > li {
		position:relative;
	}
	
	.dropdown-menu > li > a {
		line-height:35px;
	}
	
	/* Second Level */
	
	ul.nav-child > li:hover > ul {
		display:block !important;
		position:absolute;
		top:0;
		left:100%;
		float:none;
	}
	
	li.dropdown:hover > .nav-child {
		display:block;
		float:none;
	}
	
	.navbar-nav>li>a, .navbar-nav>li>span {
		padding: 0 15px !important;
		line-height:80px !important;
		position: relative;
		display: block;
	}
	
	.container-fluid .site-title {
		padding-left:15px;
	}
	
}

.hidden-child > ul.nav-child, .hidden-child > ul.dropdown-menu { box-shadow:none !important;display:none !important; border:none !important; margin:0 !important; padding:0 !important; top:-999999px !important }

@media (max-width: 997px) {
	
	.nav-child { 
		border:none !important;
	}
	
	span.caret {
		float:right;
		line-height:3em;
	}
	
	.site-title {
		padding-left:15px;
	}
	
	ul.nav li, ul.nav-child li {
		position: relative;
		display: block;
		width: 100%;
		/* margin: 0px; */
		/* padding: 0px; */
		line-height: 3em;
	}
	
	.navbar-default .navbar-collapse, .navbar-default .navbar-form {
		border: none !important;
	}
		
	.navbar-toggle {
		margin-top: 20px !important;
		margin-bottom: 20px !important;
	}
	
	.navbar-nav>li>a, .navbar-nav>li>span {
		padding: 0 5px !important;
		line-height:40px !important;
		position: relative;
		display: block;
	}
	
	.dropdown-menu>li>a {
		display: block;
		padding: 10px 0px !important;
	}
	
	.open > .dropdown-menu {
		width: 100%;
		position:relative;
		background:none !important;
		box-shadow:none !important;
		-webkit-box-shadow:none !important;
		-moz-box-shadow:none !important;
	}
	
	.dropdown-menu > li, .dropdown-menu > li > a {
		border:none !important;
	}
	
	li.dropdown-submenu > .dropdown-menu {
		display:block !important;
		position:relative;
		background:none !important;
		box-shadow:none !important;
		-webkit-box-shadow:none !important;
		-moz-box-shadow:none !important;
	}
	
	

}

/* BUTTON 
=============================================================================*/

/* BUTTONS STYLING */

.button
{
	outline:none !important;
	background-color: transparent;
	border: 1px solid rgba(228, 84, 91, 1);
	-webkit-transition: all 400ms ease-in-out;
	-moz-transition: all 400ms ease-in-out;
	-ms-transition: all 400ms ease-in-out;
	-o-transition: all 400ms ease-in-out;
	transition: all 400ms ease-in-out;
	display:inline-block;
	margin-top:20px;
}

.button:hover
{
	outline:none !important;
	background-color: rgba(228, 84, 91, 1);
	color: #ffffff !important;
}

.button-white 
{
	outline:none !important;
	background-color: rgba(255, 255, 255, 0);
	border: #fff 1px solid;
	color: #ffffff;
	-webkit-transition: all 400ms ease-in-out;
	-moz-transition: all 400ms ease-in-out;
	-ms-transition: all 400ms ease-in-out;
	-o-transition: all 400ms ease-in-out;
	transition: all 400ms ease-in-out;
}


.button-red 
{
	outline:none !important;
	background-color: rgba(255, 255, 255, 0);
	border: #fff 1px solid;
	color: #b3070d;
	-webkit-transition: all 400ms ease-in-out;
	-moz-transition: all 400ms ease-in-out;
	-ms-transition: all 400ms ease-in-out;
	-o-transition: all 400ms ease-in-out;
	transition: all 400ms ease-in-out;
}

#sp_qc_submit
{
	outline:none !important;
	background-color: rgba(255, 255, 255, .2);
	-webkit-transition: all 400ms ease-in-out;
	-moz-transition: all 400ms ease-in-out;
	-ms-transition: all 400ms ease-in-out;
	-o-transition: all 400ms ease-in-out;
	transition: all 400ms ease-in-out;
	border:none !important;
	color:#fff !important;
	padding:8px 15px;
}

#sp_qc_submit:hover
{
	outline:none !important;
	background-color: rgba(255, 255, 255, .4);
	-webkit-transition: all 400ms ease-in-out;
	-moz-transition: all 400ms ease-in-out;
	-ms-transition: all 400ms ease-in-out;
	-o-transition: all 400ms ease-in-out;
	transition: all 400ms ease-in-out;
}
	

#sp_qc_submit {
	margin:0 auto;
}

.button-white:hover
{
	outline:none !important;
	background-color: rgba(255, 255, 255, .2);
	border: rgba(255, 255, 255, .4) 1px solid;
	color: #ffffff;
}

.button-stylecl
{
	outline:none !important;
	background-color: rgba(255, 255, 255, 0);
	border: rgba(228, 84, 91, 1) 1px solid;
	color: rgba(228, 84, 91, 1);
	-webkit-transition: all 400ms ease-in-out;
	-moz-transition: all 400ms ease-in-out;
	-ms-transition: all 400ms ease-in-out;
	-o-transition: all 400ms ease-in-out;
	transition: all 400ms ease-in-out;
}

.button-stylecl:hover
{
	outline:none !important;
	background-color: rgba(228, 84, 91, .6);
	border: rgba(228, 84, 91, .8) 1px solid;
	color: rgba(228, 84, 91, 1);
}

.big
{
	outline:none !important;
	padding: 15px 80px !important;
	font-size: 20px !important;
}

.medium, input#submitCommentButton
{
	outline:none !important;
	padding: 8px 30px !important;
	font-size: 18px !important;
}

.small
{
	outline:none !important;
	padding: 10px 20px !important;
	font-size: 14px !important;
	line-height: 20px !important;
}

.mini
{
	outline:none !important;
	padding: 4px 10px !important;
	font-size: 12px !important;
	line-height: 14px !important;
}


/* BASIC STYLING - TYPOGRAPHY
=============================================================================*/

a{
	outline:none !important;
	color: #6b6b6b;
	-webkit-transition: all 200ms ease-in;
	-moz-transition: all 200ms ease-in;
	-ms-transition: all 200ms ease-in;
	-o-transition: all 200ms ease-in;
	transition: all 200ms ease-in;
}

a:hover{
	text-decoration: none !important;
}

.bigheader {
	font-size:32px !important;
	text-transform:uppercase !important;
	color:#444444;
}

h1,h2,h3,h4,h5,h6 {
	color:#666;
}

pre { color: #444 !important; background-color: #fafafa !important; border: 1px #e6e6e6 solid !important; border-radius: 0px !important; }


.stylecl a, .parallax a, .parallax h1, .parallax h2, .parallax h3, .parallax h4, .parallax h5, .parallax h6, .stylecl, .parallax, .stylecl h1, .stylecl h2, .stylecl h3, .stylecl h4, .stylecl h5, .stylecl h6 {	
	color: #ffffff;
}

.parallax a:hover, .stylecl a:hover {
	color:#fafafa !important;
}

.grey {
	background:#fafafa !important;
}

.white {
	background:#fff !important;
}

.stylecl { 
	background:#e4545b !important; 
	color:#ffffff;
}

/* USEFULL CLASSES 
=============================================================================*/

.center { 
	text-align:center !important;
}

.clear-padding {
	padding:0px !important;
	margin:0px !important;
}

.hideall {
	display:none !important;
}

.img-responsive {
	min-width: 100% !important;
}

.black {
	background:#000 !important;
}

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}


/* MODULE VARIATIONS
=============================================================================*/

.sidebar-main .moduletable { margin-bottom:40px !important; }
.sidebar-main .moduletable h3 { font-size:24px !important; }
.moduletable h3, .moduletable-center h3 {margin-bottom:10px !important; }
.moduletable{margin:20px 0;}
.moduletable-center{text-align:center !important;margin:20px 0;}
.moduletable-style1 h3 { color:#e4545b !important; }
.moduletable-style2 h3 { color:#ffffff !important; margin:10px 0 !important; }
.moduletable-style2 { color:#ffffff !important; background:#e4545b; padding:20px; }
.moduletable-style3 h3 { color:#ffffff !important; margin:10px 0 !important; }
.moduletable-style3 { color:#ffffff !important; background:#181716; padding:20px; }
.moduletable-style4 h3 { color:#444 !important; margin:10px 0 !important; }
.moduletable-style4 { color:#444 !important; background:#fafafa; padding:20px; }


/* MAP */

.map iframe {
	margin-bottom:-7px !important;
}


/* SHORTCODES
=============================================================================*/

/* CAROUSEL STYLING */

.owl-carousel img {
	width:100%;
	height:auto;
}

.owl-buttons {
	position: absolute;
	top: 45%;
	width: 100%;
}

.owl-theme .owl-controls .owl-buttons div {
	margin:0 !important;
	color: #fff !important;
	display: inline-block;
	zoom: 1;
	padding: 12px 10px !important;
	font-size: 24px !important;
	-webkit-border-radius: 0 !important;
	-moz-border-radius: 0 !important;
	border-radius: 0 !important;
	background: #333 !important;
	filter: Alpha(Opacity=100) !important;
	opacity: 1 !important;
}

.owl-prev { float:left; }
.owl-next { float:right; }

/* COUNTTO SHORTCODE */

.timer {
	border-radius: 100%;
	position: relative;
	display: block;
	text-align: center;
	font-size: 54px;
	line-height:1.2;
	/*font-weight:100;*/
	margin:0 auto 10px auto;
	color: #e4545b;
}

span.counter-line {
	width:30%;
	border-top:1px solid #747474;
	display:block;
	margin:10px auto;
}

.countto {
	display:block;
	text-align:center;
	background:rgba(0,0,0, .6);
	padding:20px;
	margin:20px 0;
}


/* ICONS SHORTCODE */

i {
	margin:0 5px;
}

/* INFO SHORTCODE */

.info {
	color: #444;
	font-size:18px !important;
}

.stylecl .info, .parallax .info {
	color:#fff;
}

/* SERVICES SHORTCODE */

.service {
	display: block;
	margin-bottom:20px;
}

.service .service-icon {
	background: #e4545b;
	color: #fff !important;
	position: relative;
	width: 110px !important;
	height: 110px !important;
	-webkit-border-radius: 110px !important;
	-moz-border-radius: 110px !important;
	border-radius: 110px !important;
	line-height: 110px !important;
	display: inline-block !important;
}

.service .service-text {
	display:block;
	font-size:16px;
}

.service .service-title
{
	font-size:24px !important;
	line-height:1.5 !important;
	display:block;
	margin:20px 0 !important;
}

.service span.services-line {
	width:10%;
	border-top:1px solid #747474;
	display:block;
	margin:10px auto;
}

.service2 {
	display: block;
	margin-bottom:20px;
}

.service2 .service-text {
	display:block;
	font-size:16px;
}

.service2 .service-icon {
	position: relative;
	display: inline-block !important;
}

.service2 .service-title
{
	font-size:24px !important;
	line-height:1.5 !important;
	display:block;
	margin:20px 0 !important;
}

.service2 span.services-line {
	width:10%;
	border-top:1px solid #747474;
	display:block;
	margin:10px auto;
}



/* SERVICES SHORTCODE */

.services-2 {
	display: block;
	margin-bottom:20px;
}

.services-2-icon {
	width:20%;
	float:left;
	text-align:center;
	padding-top: 12px;
}

.services-2-icon i {
	color: #fff;
	position: relative;
	width: 60px !important;
	height: 60px !important;
	-webkit-border-radius: 100% !important;
	-moz-border-radius: 100% !important;
	border-radius: 100% !important;
	line-height:60px !important;
	display: inline-block !important;
}

.services-2-info {
	width:80%;
	float:right;
}

.services-3 {
	display: block;
	margin-bottom:20px;
}

.services-3-icon {
	width:20%;
	float:right;
	text-align:center;
	padding-top: 12px;
}

.services-3-icon i {
	color: #fff;
	position: relative;
	width: 60px !important;
	height: 60px !important;
	-webkit-border-radius: 100% !important;
	-moz-border-radius: 100% !important;
	border-radius: 100% !important;
	line-height:60px !important;
	display: inline-block !important;
}

.services-3-info {
	width:80%;
	text-align:right;
	float:left;
}

@media (max-width: 997px) {
	
	.services-2, .services-3 {
		text-align:left !important;
	}
	
	.services-2-icon, .services-3-icon {
		display:block;
		width:100%;
		text-align:center;
	}
	
	.services-2-info, .services-3-info {
		text-align:center;
		display:block;
		width:100%;
	}
	
}

/* FIGURE SHORTCODE */

.member { 
	display:block; 
	overflow:hidden; 
	position:relative; 
}

.member img { 
	width:100%; 
}

.member:hover > img {
	opacity:0.8;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}

.member-social { 
	margin-top:5px !important; 
}

.member-name { 
	margin-bottom:5px !important; 
}

.member-social a:hover {
	opacity:0.6 ;
}

span.member-name,span.member-job, span.member-text { 
	display:block; 
}


/* QUOTE & BLOCKQUOTE SHORTCODE */	

.blockquote {
	background:#333;
	color:#fff;
	padding:40px;
	line-height:1.6;
}

.blockquote-message {
	font-size: 26px;
	font-style: italic;
	line-height: 38px;
	margin: 0;
	display:block;
}

.blockquote-author {
	font-size: 22px;
	font-style: italic;
	line-height: 28px;
	margin-top: 20px;
	padding: 0px 0;
	display:block;
	text-align:right;
}

.stylecl .quote, .parallax .quote { 
	color:#ffffff !important; 
}

.quote img {
	width:120px;
	height:120px;
	border-radius:100%;
}

.quote-message {
	font-size: 26px;
	font-style: italic;
	line-height: 38px;
	margin: 0;
	padding: 15px 0;
	text-align: center; 
	display:block;
}

.quote-author {
	font-size: 22px;
	font-style: italic;
	line-height: 28px;
	margin: 0;
	padding: 0px 0;
	text-align: center; 
	display:block;
}

.quote i { 
	color:#fff; 
	text-align:center; 
}


/* ADDRESS */



.addr { 
	float: left;
	width: 10% !important;
	display:table-cell;
	text-align:center;
}

.addr i {
	line-height:1.5em;
	font-size:1.5em !important;
	text-align:center;
}

.adedit { 
	width:90% !important; 
	float:right; 
	padding-left:10px;
	display:table-cell;
	line-height:1.5em;
}

.addrow {
	display:table-row;
}

.address {
	display:table;
	width:100%;
	background: rgba(255,255,255,.2);
	padding:20px;
}

/* AJAX PORTFOLIO STYLING (JOOMLA PORTFOLIO ARTICLE - EXPANDABLE AREA)
=============================================================================*/

.mainspot {
	padding:20px 0;
}

.moduletable-portfolio .mainspot {
	margin-top:0px !important;
}

.td-portfolio-mosaic-filter {
	text-align: center !important;
}

@media (min-width: 998px) {

#ajax-content #tdref {
	width:80%;
	margin:0 auto;
}

#ajax-content .pager .next>a,.moduletable-portfolio .pager .next>span, #ajax-content .pager .next>a:hover {
	float: right;
	right: 0;
	background:url(../img/themes/basic/arrow-right.png) !important;
	font-size:0px;
	width:50px;
	height:100px;
	-webkit-transition: all 0.6s ease-in-out;
	-moz-transition: all 0.6s ease-in-out;
	-o-transition: all 0.6s ease-in-out;
	transition: all 0.6s ease-in-out;
}

#ajax-content .pager .previous>a,.moduletable-portfolio .pager .previous>span,#ajax-content .pager .previous>a:hover {
	float: left;
	left: 0;
	background:url(../img/themes/basic/arrow-left.png) !important;
	font-size:0px;
	width:50px;
	height:100px;
	-webkit-transition: all 1s ease-in-out;
	-moz-transition: all 1s ease-in-out;
	-o-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;
}

#ajax-content .pager li>a,.moduletable-portfolio .pager li>span {
	padding: 5px 14px;
	background-color: transparent !important;
	border: none !important;
	border-radius: 0 !important;
	position: absolute;
	top:50%;
}

}

@media (max-width: 997px) {
	
	#ajax-content .pager { display:none; }
	
}

#ajax-content .page-header {
	margin: 40px 0px !important;
	text-align:center !important;
}


#ajax-content {
	-webkit-transition: all 1s ease-in-out;
	-moz-transition: all 1s ease-in-out;
	-o-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;
	opacity:0;
	max-height:0;
}

.open {
	-webkit-transition: all 1s ease-in-out;
	-moz-transition: all 1s ease-in-out;
	-o-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;
	opacity:1 !important;
	max-height:4000px !important;
}

.delay {
	-webkit-transition: all 3s ease-in-out;
	-moz-transition: all 3s ease-in-out;
	-o-transition: all 3s ease-in-out;
	transition: all 3s ease-in-out;
	opacity:0 !important;
	max-height:0px !important;
}

.portfolio-close { 
	-webkit-transition: all 1s ease-in-out;
	-moz-transition: all 1s ease-in-out;
	-o-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;
}

.moduletable-portfolio .portfolio-close {
	background:url(../img/themes/basic/close.png);
	font-size:0px;
	width:50px;
	height:100px;
	display: block !important;
	margin: 40px auto;
	cursor:pointer;
}

.moduletable-portfolio img {
	width:100%;
	height:100%;
}

.moduletable-portfolio .tags, .moduletable-portfolio .article-info, .moduletable-portfolio .btn-group, .moduletable-portfolio .content_rating, .moduletable-portfolio .content_vote {
	display:none;
}

#ajax-content {
	position:relative;
	padding-left:-15px !important;
}

/* COMMUNICATION ICONS */

hr.contact-line {
	margin-top: 10px !important;
	margin-bottom: 10px !important;
	border: 0;
	border-top: 1px solid #eee;
	width: 20%;
}

/* FORMS */

.dl-horizontal dt
{
	line-height:1.6 !important;
	text-align:left !important;
	font-weight:400 !important;
	width:250px !important;
}

.form-horizontal .control-label 
{
	text-align: left;
}

label
{
	font-weight: 300 !important;
}

.form-horizontal button
{
	margin-top:20px;
}

.controls input
{
	background: #ffffff !important;
	color: #444;
}

.formlink ul.nav
{
	float:left !important;
	border-top: 1px #e6e6e6 solid !important;
	width:100%;
	margin-top:20px !important;
}

.formlink > ul.nav > li > a
{
	text-transform:none !important;	
	border:none !important;
	padding-left:0 !important;
	padding-top:10px !important;
}

.nav-tabs 
{
	border-bottom: none !important;
}

/* CONTACT FORM
==============================================================*/

.sp_quickcontact textarea { 
	width:100% !important; 
	height:180px !important; 
	padding:10px !important;  
	border: 0px !important;
	background: rgba(255,255,255, .2);
	outline:none;
}
.sp_quickcontact .col-md-6 {
	padding-left:5px !important;
	padding-right:5px !important;
}
.sp_quickcontact input#subject,
.sp_quickcontact input#email,
.sp_quickcontact input#name,
.sp_quickcontact input.captcha {  
	outline:none !important;
	padding:10px 10px 10px 20px !important; 
	border: 0px !important;
	background: rgba(255,255,255, .2);
	display:inline;
	width:100%;
	margin-bottom:10px;
	color:#ffffff !important;
}

.sp_qc_clr {
	margin-bottom: 0px !important;
}


/*  RESPONSIVE IMPROVEMENTS - CONTACT FORM
=============================================================================*/

@media (max-width: 997px) {
	.qc-row{ margin-bottom:0px !important;}
	input#email, input#subject, input#name, textarea { width:100% ; margin-bottom:5px;}
}

p.sp_qc_warn, p.sp_qc_success {
	color: #fff;
	padding: 10px;
	margin-top: 10px;
	background: rgba(255,255,255, .2);
}


/* NICE SCROLLS STYLING
==============================================================*/

ul.topmenu {
	margin: 0;
	list-style-type: none;
}

ul.topmenu li {
	border-right:1px solid rgba(228, 84, 91, 0.70);
	display:inline;
}

ul.topmenu li:last-child {
	border-right:0 !important;
	display:inline;
}

ul.topmenu li:first-child a {
	padding-left:0 !important;
	padding-right:10px;
}

ul.topmenu li a {
	color:#fff;
	padding:0 10px;
}

ul.topmenu li a:hover {
	color:rgba(228, 84, 91, 1);
}

ul.topmenu li a.actview {
	color:#fff !important;
}

.center-resp {
	margin:0 auto;
}

/* ANIMATIONS 
=============================================================================*/

@media (min-width: 998px) {
	
.mask { 
	background: url(../img/gridtile.png) repeat !important;
	z-index:100;
}

.reveal-grayscale  {
	filter: url(../js/filters.svg#grayscale); /* Firefox 3.5+ */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
	bottom: -185px;
	z-index: -2 !important;
	position: relative;
}

.show-grayscale {
	bottom:-65px !important;
	opacity:1 !important;
	filter: none !important;
    -webkit-filter: grayscale(0) !important;
}

.big-show-bottom {
	bottom:-160px !important;
	margin-top:-160px;
	display:block;
}

.reveal-left, .reveal-left-contact {
	left:-40px;
	opacity:0;
	overflow:hidden;
	position:relative;
}

.reveal-right, .reveal-right-address, .reveal-right-social {
	left:40px;
	opacity:0;
	overflow:hidden;
	position:relative;
}

.reveal-top {
	top:-40px;
	opacity:0;
	overflow:hidden;
	position:relative;
}

.reveal-bottom, .reveal-quote {
	top:40px;
	opacity:0;
	overflow:hidden;
	position:relative;
}

.reveal-fade {
	opacity:0;
}

}

.show {
	bottom:0px !important;
	top:0px !important;
	right:0px !important;
	left:0px !important;
	opacity:1 !important;
	filter: none !important;
    -webkit-filter: grayscale(0) !important;
}

.fast {
	-webkit-transition: all 0.8s ease-in-out;
	-moz-transition: all 0.8s ease-in-out;
	-o-transition: all 0.8s ease-in-out;
	transition: all 0.8s ease-in-out;
}

.normal {
	-webkit-transition: all 1.4s ease-in-out;
	-moz-transition: all 1.4s ease-in-out;
	-o-transition: all 1.4s ease-in-out;
	transition: all 1.4s ease-in-out;
}

.slow {
	-webkit-transition: all 1.8s ease-in-out;
	-moz-transition: all 1.8s ease-in-out;
	-o-transition: all 1.8s ease-in-out;
	transition: all 1.8s ease-in-out;
}

.very-slow {
	-webkit-transition: all 2.4s ease-in-out;
	-moz-transition: all 2.4s ease-in-out;
	-o-transition: all 2.4s ease-in-out;
	transition: all 2.4s ease-in-out;
}


/*  JOOMLA
=============================================================================*/

/* BLOG */

.article-info {
	margin-bottom:20px;
}

.article-info span {
	margin-right:10px;
}

.bottominfo {
	margin-top:20px;
}

.create-bottom, .modified-bottom { 
	float:right;
	margin-right:0px !important;
	margin-left:10px;
}

.btnreadmore, .items-more {
	margin:20px 0px;
}

.cat-children h2 {
	font-size: 24px !important;
	margin:0px !important;
	padding: 10px 0px;
	border-bottom: 1px solid #e2e2e2 !important;
}

.page-header h2 a {
	-webkit-transition: none !important;
	-moz-transition: none !important;
	-ms-transition: none !important;
	-o-transition: none !important;
	transition: none !important;
}

.page-header h2 a, .sidebar-main h3 {
	color:#444;
}

.page-header h2 a:hover {
	color:#6b6b6b !important;
}

.pagination {
	display:block !important;
	text-align:center;
}

.pagination ul {
	display:inline-block;
	padding:0 !important;
}

.pagination ul li {
	display:inline;
	margin: 0 3px;
}

.pagination ul li:first-child {
	margin-left:0px !important;
}

.pagination ul li a, .pagination ul li span {
	padding: 10px;
	border: #e2e2e2 1px solid;
}

.pagination .counter {
	display:none;
}

.pager li>a, .pager li>span {
	border: 1px solid #e2e2e2 !important;
	border-radius: 0px !important;
}

.pager li:hover>a, .pager li:hover>span {
	background: none !important;
}

.sidebar-main {
	padding-top:30px;
}

ul.category {
	list-style:none;
	margin-top:40px;
	padding:0 !important;
}

ul.category li {
	margin-left:0 !important;
	padding-left:0px !important;
}

/* ARTICLE */
.page-header, .tag-category {
	padding-bottom: 0px;
	margin: 40px 0 0px;
	border-bottom: none !important;
}

.item {
	padding-bottom:10px;
}


/* TAGS */

.tags a {
	border-radius: 0px !important;
	background:transparent !important
}

.tags a:hover {
	color:#fff !important;
}

span.tag a {
	background-color:#fafafa !important;
	padding: 7px;
	display:inline-block;
	font-weight:300 !important;
	margin: 2px 0;
	line-height: 1.5;
}

span.tag:hover a {
	background:#e4545b !important;
	color:#ffffff !important;
}

.nav-stacked > li > a{
	background: none !important;
	border: none !important;
}

/* SEARCH MODULE */
#mod-finder-searchword {
	border: #e2e2e2 1px solid;
	padding: 7px 10px;
	width: 100%;
}

/* LATEST NEWS MODULE */
ul.latestnews {
	padding-left:0px !important;
}

ul.latestnews li {
	list-style:none;
}

ul.latestnews li a {
	padding: 2px 0px;
	display: block;
}

/* CATEGORIES MODULE */

ul.categories-module {
	list-style:square;
}

ul.categories-module li {
	border-bottom: 1px solid #e2e2e2;
	margin-left:-1.2em;
}

ul.categories-module li a {
	padding: 10px 0px 10px 10px;
	display: block;
}

ul.categories-module li h4 {
	margin:0 !important;
}

/* SOCIAL BUTTONS
==============================================================================*/

.social {
	outline:none !important;
	/* border: 1px solid #747474; */
	background: rgba(255,255,255, .2);
	/* border-radius: 100%; */
	width: 60px;
	height: 60px;
	line-height: 60px;
	text-align: center;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
	margin-bottom:10px;
}

.social:hover {
	background: rgba(255,255,255, .3);
}

/* ROYAL PRELOADER */

body.royal_loader {
    background: none;
    visibility: hidden;
}
#royal_preloader {
    font-family: Arial;
    font-size: 12px;
    visibility: visible;
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    z-index: 9999999999;
    -webkit-transition: opacity 0.2s linear 0.8s;
       -moz-transition: opacity 0.2s linear 0.8s;
        -ms-transition: opacity 0.2s linear 0.8s;
         -o-transition: opacity 0.2s linear 0.8s;
            transition: opacity 0.2s linear 0.8s;
}
#royal_preloader.complete {
    opacity: 0;
}
#royal_preloader .background {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: #000000;
    -webkit-transition: background 0.5s linear;
       -moz-transition: background 0.5s linear;
        -ms-transition: background 0.5s linear;
         -o-transition: background 0.5s linear;
            transition: background 0.5s linear;
}
#royal_preloader.number .name {
    position: absolute;
    top: 20%;
    left: 0px;
    right: 0px;
    text-transform: uppercase;
    color: #EEEEEE;
    text-align: center;
    opacity: 0;
    -webkit-transition: -webkit-transform 0.3s linear;
       -moz-transition: -moz-transform 0.3s linear;
        -ms-transition: -ms-transform 0.3s linear;
         -o-transition: -o-transform 0.3s linear;
            transition: transform 0.3s linear;
    -webkit-animation: fly 0.3s;
       -moz-animation: fly 0.3s;
        -ms-animation: fly 0.3s;
         -o-animation: fly 0.3s;
            animation: fly 0.3s;
}
#royal_preloader.number .percentage {
    color: #FFFFFF;
    font-family: Impact, Arial;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    text-align: center;
    margin: -90px 0px 0px -90px;
    background-image: url('../img/ajax-loader.gif');
    background-repeat: no-repeat;
    background-position: 50% 0;
    padding-top: 80px;
    width: 180px;
    position: absolute;
    font-size: 0px !important;
    top: 50%;
    left: 50%;
    -webkit-transition: all 0.3s linear 0.5s;
       -moz-transition: all 0.3s linear 0.5s;
        -ms-transition: all 0.3s linear 0.5s;
         -o-transition: all 0.3s linear 0.5s;
            transition: all 0.3s linear 0.5s;
}
#royal_preloader.text .loader {
    color: #000;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 30px;
    line-height: 30px;
    margin-top: -15px;
    letter-spacing: 3px;
    font-size: 16px;
    white-space: nowrap;
}
#royal_preloader.text .loader div {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0%;
    background-color: #000000;
    opacity: 0.7;
    filter: alpha(opacity=70);
    -webkit-transition: left 0.3s linear;
       -moz-transition: left 0.3s linear;
        -ms-transition: left 0.3s linear;
         -o-transition: left 0.3s linear;
            transition: left 0.3s linear;
}
#royal_preloader.logo .loader {
    width: 80px;
    height: 80px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -40px 0px 0px -40px;
    overflow: hidden;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 100%;
}
#royal_preloader.logo .loader div {
    position: absolute;
    bottom: 0%;
    left: 0px;
    right: 0px;
    height: 100%;
    opacity: 0.7;
    filter: alpha(opacity=70);
    -webkit-transition: bottom 0.3s linear;
       -moz-transition: bottom 0.3s linear;
        -ms-transition: bottom 0.3s linear;
         -o-transition: bottom 0.3s linear;
            transition: bottom 0.3s linear;
}
#royal_preloader.logo .percentage {
    position: absolute;
    width: 80px;
    height: 40px;
    line-height: 40px;
    top: 50%;
    left: 50%;
    margin: 40px 0px 0px -40px;
    color: #072E77;
    text-align: center;
    font-family: Arial;
    font-size: 12px;
    font-weight: bold;
	display:none !important;
}

@-webkit-keyframes fly {
    0% { opacity: 0; top: 50%; }
    20% {opacity: 1; top: 40%; }
    100% { opacity: 0; top: 20%;}
}
@-moz-keyframes fly {
    0% { opacity: 0; top: 50%; }
    20% {opacity: 1; top: 40%; }
    100% { opacity: 0; top: 20%;}
}
@-ms-keyframes fly {
    0% { opacity: 0; top: 50%; }
    20% {opacity: 1; top: 40%; }
    100% { opacity: 0; top: 20%;}
}
@-o-keyframes fly {
    0% { opacity: 0; top: 50%; }
    20% {opacity: 1; top: 40%; }
    100% { opacity: 0; top: 20%;}
}
@keyframes fly {
    0% { opacity: 0; top: 50%; }
    20% {opacity: 1; top: 40%; }
    100% { opacity: 0; top: 20%;}
}

#bgndVideo { top:-80px !important; position:absolute; }

/* INTRO STYLING */

.intro-header {
	font-size:52px;
	line-height:1.5em;
	text-shadow: 1px 1px 2px rgba(150, 150, 150, 1);
}

.rotate {
	font-size:36px;
}

#ascrail2000 div { background-color:#181716 !important; border-radius:0 !important; opacity:0.3;}

