/******************************
    Page Body Size
*******************************/
/*Adjusts page margins/width */
#wrapper {
	max-width: 100%;
	min-width: 100%;
    margin: 0 auto;
	padding: 0 0%;
}

* {
	box-sizing: border-box;
}

/*************************
	Page Body Styles
*************************/

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4em;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
    font-family: 'Lato', sans-serif, Arial; 
    font-size: 100%;
    line-height: 1.5em;
}

h1, h2, h3, h4, h5, p {
	text-align: center;
}

.left{
    text-align: left;
    
}

.img-responsive{
    margin-left: auto;
    margin-right: auto; 
}

#brian_pic, #laquita_pic{
    width: 50%;
}

/******************************
    Navigation
*******************************/
/*No underlines on links (text-decoration)*/
a {

	text-decoration: none;
	color: #6b6b6b;
	-webkit-transition: all 200ms ease-in;
	-moz-transition: all 200ms ease-in;
	-ms-transition: all 200ms ease-in;
	-o-transition: all 200ms ease-in;
	transition: all 200ms ease-in;
}

/*Adjusts the navigation spacing/position*/
nav {
	width:100%;
	top:0px !important;
	z-index:99999 !important;
	height:auto;
	line-height:2.0em;
	margin-bottom:0 !important;
	padding-bottom:0;
    position: fixed !important;
   
}
/*Adjusts the timing of the text ease in*/
.fixed {
	top:0px !important;
	-webkit-transition: all 400ms ease-in-out;
	-moz-transition: all 400ms ease-in-out;
	-ms-transition: all 400ms ease-in-out;	
	-o-transition: all 400ms ease-in-out;
	transition: all 400ms ease-in-out;
}	

.call_now {
    background: #e6e6e6;
    margin: 0 0 0 15px;
    width: 250px;
    height: 51px;
    top: -1px;
    right: 0;
    position: absolute;
    box-shadow: 0 0px 20px rgba(0,0,0,0.40);
}
	
/******************************
    Main Picture
*******************************/
.slogan{
	position: relative; 
	color: #000;
	text-align: center; 
	width: 100%; 
	padding-top: 2% !important;
	background:#b3070d !important;
	color: #FFF;
	margin-bottom: 0px;
}
.sloganText{
	margin-bottom: 0px;
}

#main_pic{
	width: 100%;
}

.slider{
	width: 100%;
    
}

/********************
PRACTICE AREAS
*********************/

.practice_areas{
    list-style: none;
}

/******************************
    Body Section Text/Backgrounds
*******************************/

/*Section 1: The Firm*/
#the_firm {

	background:#b3070d !important;
	position: relative !important;
	z-index:-1;
	padding: 5% 0;
}

#building_pic{
    height: 100%;
}

#the_firm, #the_firm h1, #the_firm h2, #the_firm h3, #the_firm h4, #the_firm h5, 
#the_firm h6, #the_firm .info, #the_firm a, #the_firm .bigheader { 
	color:#fff !important 
}
#the_firm .counter-line, #the_firm .services-line { 
	border-color: #fff !important; 
}

/*Section2: Practice Areas*/
#practice {
	background: #fafafa !important;
	position: relative;
	/*z-index:-1;*/
	padding:5% 0;
   
}
#practice, #practice h1, #practice h2, #practice h3, #practice h4, #practice h5, 
#practice h6, #practice .info, #practice a, #practice .bigheader { 
	color:#000 !important 
}
#practice .counter-line, #practice .services-line { 
	border-color: #000 !important; 
}

p{
    opacity: 0;
}
.practice_areas{
    opacity: 0;
}
/*Section3: Our Attorneys*/
#our_attorneys {
	background-color: #fafafa !important;
	position: relative;
	z-index:-1;
	padding:5% 0;
	width: 100%;
}

/*Section3: Bankruptcy*/
#bankruptcy {
	background: #ede8e8 !important;
	position: relative !important;
	z-index:-1;
	padding:5% 0;
	width: 100%;
}

/*Section4: Child Support & Custody*/
#child_support {
	background-color: #fafafa !important;
	position: relative;
	z-index:-1;
	padding:5% 0;
	width: 100%;
}

/*Section5: Personal Injury & Auto Accidents*/
#injury {
	background: #ede8e8 !important;
	position: relative !important;
	z-index:-1;
	padding:5% 0;
	width: 100%;
}

/*Section6: Divorce*/
#divorce {
	background-color: #fafafa !important;
	position: relative;
	z-index:-1;
	padding:5% 0;
	width: 100%;
}



/*Footer Contact Us Section background*/
#footer {
    background:#b3070d !important;
    padding:5% 0;
}

#footer, #footer h1, #footer h2, #footer h3, #footer h4, #footer h5, 
#footer h6, #footer .info, #footer a, #footer .bigheader { 
	color:#fff !important; 
}
#footer .counter-line, #footer .services-line { 
	border-color: #fff !important;
}
#footer button{
	color: #000 !important;
}


/******************************
    Text Size
*******************************/

@media only screen and (max-width : 320px) {
    .site-title{
        font-size: 12px;
        
    }
    h1{
		font-size: 25px;
		
	}
	h2{
		font-size: 20px;
	}
	h3{
		font-size: 15px;
		font-weight: bold;
	}
	p{
		font-size: 15px;
	}
}
@media only screen and (max-width : 480px){
	h1{
		font-size: 25px;
	}
	h2{
		font-size: 20px;
	}
	h3{
		font-size: 15px;
		font-weight: bold;
	}
	p{
		font-size: 15px;
	}
    .mobile_no_show{
        display: none;
    }
}

}
@media only screen and (max-width : 768px) {
    
    h1{
		font-size: 30px;
	}
	h2{
		font-size: 25px;
	}
	h3{
		font-size: 15px;
		font-weight: bold;
	}
	p{
		font-size: 12px;
	}
}
@media only screen and (min-width: 768px) and(max-width : 1024px) {
   
    h1{
		font-size: 40px;
	}
	h2{
		font-size: 30px;
	}
	h3{
		font-size: 20px;
		font-weight: bold;
	}
	p{
		font-size: 15px;
	}
}
}
@media only screen  and (min-width : 1024px) {
	h1{
		font-size: 40px;
	}
	h2{
		font-size: 30px;
	}
	h3{
		font-size: 20px;
		font-weight: bold;
	}
	p{
		font-size: 15px;
	}
}